@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

header {
    background-color: #FFF;
    padding: 53px 127px 53px 135px;
    border: 5px solid black;
}
nav {
    display: flex;
    justify-content: space-between;
}

.nav-image {
    display: flex;
}
.nav-title {
    font-size: 1.4rem;
    color: #131318;
    font-weight: 800;
    margin-left: 10px;

}

nav > ul {
    display: flex;
    
}

nav li {
    list-style: none;
    margin-right: 44px;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav li a {
    text-decoration: none;
    color: #424247;
   
}

.explore {
    padding: 53px 127px 53px 127px;
    border: 5px solid black;
    position: relative;
}

.explore-txt-1 {
    position: absolute;
    top: 20%;
    left: 35%;
    border: 1px solid yellow;
    font-size: 2.5rem;
    font-weight: 800;
    color: #FFF;
}

.explore-txt-2 {
    margin-top: -10px;
    position: absolute;
    top: 40%;
    left: 15%;
    border: 1px solid yellow;
    font-size: 1.2rem;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    width: 1000px;
}
.explore-form {
    position: absolute;
    top: 40%;
    left: 12%;
    margin-top: 120px;
    border: 1px solid yellow;
   
}

.explore-form > ul {
    display: flex;
    
}

.explore-form li {
    list-style: none;
    padding-left: 30px;
}

.explore-form-list li {
    font-size: 1.2rem; 
    color: #13131880;
    padding: 10px 15px;
    border-radius: 5px;
}

.button-1 {
    font-size: 1.2rem; 
    color: white;
    padding: 10px 15px; 
    border-radius: 8px;; 
    background-color: #FF5400;
    border-style: none; 
}

.popular-tours {
    display: flex;
    justify-content: space-between;
    padding: 53px 127px 53px 127px;
    border: 5px solid black;
}

.popular-tours-txt {

}

.popular-tours-txt-1 {
    font-size: 3rem;
    font-weight: 800;
}
.popular-tours-list {
    font-size: 1rem; 
    font-weight: 400px; 
    color: rgba(19, 19, 24, 0.70);
}
.button-2 {
    font-size: 1.2rem; 
    color: white;
    padding: 10px 15px; 
    border-radius: 8px;; 
    background-color: #FF5400;
    border-style: none;
}


