@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

/**---------------------------------Navigation Horizon-----------**/

header {
    background-color: #FFF;
    padding: 53px 127px 53px 135px;
    border: 5px solid black;
}
nav {
    display: flex;
    justify-content: space-between;
}

.nav-image {
    display: flex;
}
.nav-title {
    font-size: 1.4rem;
    color: #131318;
    font-weight: 800;
    margin-left: 10px;

}

nav > ul {
    display: flex;
    
}

nav li {
    list-style: none;
    margin-right: 44px;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav li a {
    text-decoration: none;
    color: #424247;
   
}

/**---------------------------------Explore Your Travel-----------**/

.explore {
    padding: 53px 127px 53px 127px;
    border: 5px solid black;
    position: relative;
}

.explore-txt-1 {
    position: absolute;
    top: 20%;
    left: 35%;
    border: 1px solid yellow;
    font-size: 2.5rem;
    font-weight: 800;
    color: #FFF;
}

.explore-txt-2 {
    margin-top: -10px;
    position: absolute;
    top: 40%;
    left: 15%;
    border: 1px solid yellow;
    font-size: 1.2rem;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    width: 1000px;
}
.explore-form {
    position: absolute;
    top: 40%;
    left: 12%;
    margin-top: 120px;
    border: 1px solid yellow;
   
}

.explore-form > ul {
    display: flex;
    
}

.explore-form li {
    list-style: none;
    padding-left: 30px;
}

.explore-form-list li {
    font-size: 1.2rem; 
    color: #13131880;
    padding: 10px 15px;
    border-radius: 5px;
}

.button-1 {
    font-size: 1.2rem; 
    color: white;
    padding: 10px 15px; 
    border-radius: 8px;; 
    background-color: #FF5400;
    border-style: none; 
}

/**---------------------------------Our Popular Tours-----------**/

.popular-tours {
    display: flex;
    justify-content: space-between;
    padding: 53px 127px 53px 127px;
    border: 5px solid black;
}

.popular-tours-txt {
    border: 1px solid yellow;

}

.popular-tours-img{
    border: 1px solid yellow;
}

.popular-tours-txt-1 {
    font-size: 3rem;
    font-weight: 800;
    border: 1px solid yellow;
}
.popular-tours-list {
    font-size: 1rem; 
    font-weight: 400px; 
    color: rgba(19, 19, 24, 0.70);
    border: 1px solid yellow;
}
.button-2 {
    font-size: 1.2rem; 
    color: white;
    padding: 10px 15px; 
    border-radius: 8px;; 
    background-color: #FF5400;
    border-style: none;
}
/**---------------------------------Choose Your Destination-----------**/

.destination {
    display: flex;
    flex-direction: column;
    padding: 53px 127px 53px 127px;
    border: 5px solid black;
    align-items: center;
}

.destination-txt-1 {
    font-size: 3rem;
    font-weight: 800;
    border: 1px solid yellow;
    color: #131318;
    text-align: center;


}
.destination-txt-2 {
    font-size: 1rem; 
    font-weight: 400px; 
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
}

.destination-row-1 {
    display: flex;
    height: 300px;
    width: 1150px;
    border: 1px solid yellow;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
}

.img-1 {
    width: 650px;
}

img-2{
    width: 50%;
}

.destination-row-2 {
    display: flex;
    height: 300px;
    width: 1150px;
    border: 1px solid yellow;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    position: relative;
}

.img-4 {
    width: 400px;
}

.img-5 {
    width: 650px;
}
.img-6 {
    width: 350px;
}

.destination-row-3 {
    display: flex;
    height: 300px;
    width: 1150px;
    border: 1px solid yellow;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    position: relative;

}
.img-6 {
    width: 550px;
}
.img-7 {
    width: 650px;
}

.img-1-txt-1 {
    position: absolute;
    top: 100px;
    left: 225px;
    font-size: 2rem;
    color: #FFF;
    font-weight: 800;
} 

.img-2-txt-2 {
    position: absolute;
    top: 100px;
    left: 840px;
    font-size: 2rem;
    color: #FFF;
    font-weight: 800;
} 

.img-3-txt-3 {
    position: absolute;
    top: 100px;
    left: 150px;
    font-size: 2rem;
    color: #FFF;
    font-weight: 800;
} 

.img-4-txt-4 {
    position: absolute;
    top: 100px;
    left: 500px;
    font-size: 2rem;
    color: #FFF;
    font-weight: 800;
} 
.img-5-txt-5 {
    position: absolute;
    top: 100px;
    left: 930px;
    font-size: 2rem;
    color: #FFF;
    font-weight: 800;
} 

.img-6-txt-6 {
    position: absolute;
    top: 100px;
    left: 150px;
    font-size: 2rem;
    color: #FFF;
    font-weight: 800;
} 
.img-7-txt-7 {
    position: absolute;
    top: 100px;
    left: 750px;
    font-size: 2rem;
    color: #FFF;
    font-weight: 800;
} 

/**---------------------------------Why Choose US-----------**/

.choose-us {
    display: flex;
    flex-direction: column;
    padding: 53px 127px 53px 127px;
    border: 5px solid black;
    align-items: center;
}

.choose-us-text-1{
    font-size: 3rem;
    font-weight: 800;
    border: 1px solid yellow;
    color: #131318;
    text-align: center;
    margin-bottom: 10px;

}

.choose-us-text-2 {
    font-size: 1rem; 
    font-weight: 400px; 
    color: rgba(19, 19, 24, 0.70);
    text-align: center;

}

.choose-us-box {
    display: flex;
    flex-direction: column;
    border: 1px solid yellow;
}
.choose-us-box-row-1{
    display: flex;
    justify-content: space-between;
    border: 1px solid yellow;
}

.small-box-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background-color: rgba(251, 181, 99, 0.05);
    margin-top: 10px;
    margin-right: 24px ;
    padding-left: 15px;
}

.small-box-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background-color: rgba(41, 206, 246, 0.05);
    margin-top: 10px;
    padding-left: 15px;
}

.small-box-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background-color: rgba(233, 68, 68, 0.05);
    margin: 10px 298px;
    padding-left: 15px;
    padding-top: 15px;
}

.hotel-img, .map-img{
    width: 64px;
    height: 64px;
}

.price-img {
    width: 64px;
    height: 64px;
}

.box-row-1-text-1 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;    
}
.box-row-1-text-2 {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

/**---------------------------------Newsletter-----------**/

.newsletter {
    display: flex;
    justify-content: space-between;
    padding: 53px 127px 53px 127px;
    border: 5px solid black;
    
}

.newsletter-text-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.newsletter-text-1 h4 {
    color: #131318;
    font-size: 1.8rem;
    font-weight: 800;
}

newsletter-text-1 P {
    color:#5A5A5D;
    font-size: 1.2rem;
    font-weight: 400;
}

hr {
    width: 100%;
    color: #5A5A5D;
    margin-bottom: 15px;
}
.newsletter-input {
    padding: 15px;
}

.button-3 {
    padding: 15px;
    text-align: center;
    font-size: 1.2rem; 
    color: white; 
    border-radius: 8px;; 
    background-color: #FF5400;
    border-style: none; 
}
.newsletter-img {
    width: 672px;
    height: 422px;
}

/**---------------------------------Footer-----------**/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 53px 127px 53px 127px;
    border: 5px solid black;
    align-items: center;

}

.footer-img {
    display: flex;
    gap: 20px;
}
.footer-img > h3 {
    font-size: 2rem;
    color: #131318;
    font-weight: 800;
}
.footer-text-1 {
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    width: 760px;
    margin-top: 50px;
}

.footer-icon {
    margin-left: 570px ;
    margin-right: 570px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.footer-icon-t {
    width: 40px;
    height: 40px;
    padding: 20px;
}
.footer-text-2 {
    margin-top: 50px;
}

